* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 93.75%
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 87.5%
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 81.25%
  }
}

body {
  width: 100vw;
  min-height: 100vh
}

body,
input,
button,
select,
textarea {
  font-family: 'Poppins', sans-serif;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: .5rem;
  height: 5rem;
}

#conteiner {
  height: calc(100vh - 5rem);
  width: 100vw;
  padding: 1rem;
}

#conteiner #chosses {
  width: 100%;
  height: 100%;


  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

#conteiner #chosses button {
  position: relative;
  cursor: pointer;
  width: 33%;
  height: 45%;
  padding: .5rem;

  font-size: 1.2rem;
  font-weight: bold;

  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.15);

  transition: .5s;
}

#conteiner #chosses button:last-child {
  height: 10%;
  width: 100%;
}

#conteiner #chosses .btnOption:hover {
  background: #47b77f;
  color: #fff;
  z-index: 1;
  transform: scale(1.01);



}

@media screen and (max-width:320px) {


  #conteiner button {
    width: 45%;
  }
}

#conteiner button:active {
  opacity: .6;
}

#conteiner #modal {
  padding: 1rem 7rem 7rem 7rem;
  position: relative;
  background: rgb(86, 123, 209);
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border-radius: 10px;
  box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.55);

}

#conteiner #modal p {
  font-size: 1.2rem;
  font-weight: 500
}


#conteiner #modal #options {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-size: 1.1rem;
}

#conteiner #modal #options div {
  width: 100%;
  padding: .5rem;
  cursor: pointer;

  border-radius: 4px;

  transition: .3s
}

#conteiner #modal #options div:hover {
  background: rgb(110, 141, 212);
}

#conteiner #modal #options div p {
  font-weight: 300;
}

#conteiner #modal #options .checked {
  background: rgb(55, 92, 180);

  color: #ffff
}

#conteiner #modal #options .checked p {
  font-weight: 600;
}

#conteiner #modal #options .checked:hover {
  background: rgb(55, 92, 180)
}

#conteiner #modal #sendQuestion {
  width: 80%;
  height: 4rem;

  background: #47b77f;
  color: #ffff;
  position: absolute;

  bottom: 1rem;

}

@keyframes time {

  0% {
    width: 100%;
  }

  100% {
    width: 0%
  }
}

#finish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  background: #47b77f;
  color: #ffff;


  border-radius: 10px;
}

#finish button {
  color: #47b77f
}

#warnings {
  position: absolute;
  z-index: 1;
  width: 30%;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.15);

  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;

  animation: warnings .5s
}

@keyframes warnings {
  0% {
    width: 0;
    font-size: 0;
  }

  100% {
    width: 30%;
    font-size: 1.5rem;
  }

}